body
{
    background-color: #404040;
    /* background-image: url("background.jpg"); */
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

#wrapper
{
    width:100%;
}
#header
{
    width:100%;
    padding: 20px;
    text-align: center;
}

#logo_wrapper
{
    width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Trebuchet MS", sans-serif;
    display: inline-block;

}

#logo{
    width: 100px;
    height: 100px;
    float: left;
}

nav
{
    width: 980px;
    padding: 10px 0;
    background-color: #efb943;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    border-top: 1px solid #a5802e;
    border-bottom: 1px solid #a5802e;
}

ol
{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    height: 35px;
    line-height: 200%;
    display: inline-block;
}

ol a
{
    color: #000000;
    text-decoration: none;
    display: block;
}
 
ol > li
{
    float: left;
    width: 150px;
    height: 40px;
    border-right: 1px dashed #a5802e;
}
 
ol > li:first-child
{
    border-left: 1px dashed #a5802e;
}
 
ol > li:hover
{
    background-color: #a5802e;
}
 
ol > li:hover > a
{
    color: #efb943;
}

footer
{
    text-align: center;
    background-color: #222222;
    padding: 30px;
    color:#a5802e;
}