
#content
{
    width: 980px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding-top: 10px;
    background-color: #404040;
    display:flex;
    text-align:center;
}

#socials
{
    width:100%;
    text-align: center;
    margin-top:20px;
    background-color: #292929;
}
 
#socialdivs
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
 
#fb
{
    width: 250px;
    height: 155px;
    float:left;
}
 
#fb:hover
{
    background-color: #4668b3;
}
 
#yt
{
    width: 250px;
    height: 155px;
    float:left;
}
 
#yt:hover
{
    background-color: #d94348;
}
 
#tw
{
    width: 250px;
    height: 155px;
    float:left;
}
 
#tw:hover
{
    background-color: #3095d3;
}
 
#gplus
{
    width: 250px;
    height: 155px;
    float:left;
}
 
#gplus:hover
{
    background-color: #d95333;
}

a{
    text-decoration: none;
    color: #efb943;
}
 
footer
{
    text-align: center;
    background-color: #222222;
    padding: 30px;
    color:#a5802e;
}

#offer {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color:white;
}

#offer td, #offer th 
{
    padding: 15px;
}

#offer tr:nth-child(even){
    background-color: #505050;
    color:white;
}


#offer tr:nth-child(odd){
    background-color: #606060;
    color:white;
}

#offer tr:hover {
    background-color: #ddd;
    color:black;
}

#offer tr:hover a {
    
    color:#a5802e;
}

#offer tr:hover button{
    background: #efb943;
    color:black;
}


#offer th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #efb943;
    color: black;
}

button{
    background: none;
    width: 200px;
    height: 30px;
    border: 1px solid #efb943;
    font-size: 18px;
    border-radius: 4px;
    transition: .2s;
    overflow:hidden;
    color:white;
    margin:auto;
}

button:hover {
    background: #efb943;
    cursor: pointer;
}
